#taskSelectionContainer {
    padding-left: 20px;
}

h2, h1, p {
    cursor: default;
    font-family: Calibri;
    color: #555555;
}

p {
    margin: 5px 0px 5px 0px;
}

input {
    display: inline-block;
    cursor: default;
    font-family: Calibri;
    color: #555555;
    margin-left: 20px;
}

button {
    border: none;
    padding: 12px 25px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    font-family: Calibri;
    color: white;
}

.taskCallBtn {
    background-color: #555555; /* Black */
}

.taskExecuteBtn {
    background-color: #008CBA; /* Blue */
}

.taskExecuteBtn:hover {
    background-color: #e7e7e7;
    color: #008CBA;
    -webkit-transition: 0.2s;
}

.taskAddConditionBtn {
    background-color: #4CAF50; /* Green */
}

.taskAddConditionBtn:hover {
    background-color: #e7e7e7;
    color: #4CAF50;
    -webkit-transition: 0.2s;
}

.taskCallBtn:hover {
    background-color: #e7e7e7;
    color: #555555;
    -webkit-transition: 0.2s;
}

#task_description {
    max-width: 100%;
    margin: 0;
    padding: 20px 20px 20px 20px;
    font-family: Calibri;
}

#result {
    font-size: 18px;
    font-weight: 600;
    font-family: Calibri;
    color: #4CAF50;
}


